.userHeaderProfile{
    width: 60px;
    height: 60px;
}
.headerProjHeading{
    font-size: 12px!important;
    font-weight: bold;
}
.heading-titless .ibox-title{
    padding: 15px 7px 7px!important;
}
.heading-titless .ibox-content{
   cursor: pointer;
}
.capital-first-letter:first-letter {
    text-transform:capitalize;
}
.projectComm{
    text-decoration: underline;
    cursor: pointer;
}
.project-fa{
    color: #ffffff;
    cursor: pointer;
}
#createMilestone{
    margin-top: 20px;
}
#milestoneDescription{
    max-width: 100%!important;
}
.prjectTeam{
    width: 100%!important;
}
.select2-container{
    width: 100%!important;
}
#err_message{
    font-weight: bold;
}
.navbar-top-links{
    text-align: center;
}
.createProjectMain{
    padding: 20px 0;
}
.datepicker-dropdown{
    z-index: 99999!important;
}
.loaderr {
    background: #fff;
    height: 900px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: none;
}
.loaderimg {
    background-attachment: fixed;
    margin-top: 20%;
    margin-left: 49%;
    height: 50px;
    width: 50px;
}
.employeeListBox{
    display: none;
}
.fixedPriceBox
{
    display: none;
}
.timeMaterialBox
{
    display: none;
}
.projectMilestone{
    width: 100%!important;
}
#milestoneAdd{
    padding:40px 60px 40px 60px;
}
.removeMilestone{
    cursor: pointer;
}
#createEmployeeBox{
/*    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;*/
}
.reqdFields{
    color: tomato;
    font-size: 8px;
}
.welcome-message{
    color: #18A689;
    font-weight: 500;
}
.bold-text{
    font-weight: bold;
}
.user_message{
    margin-top: 10px;
}
#user_message_field{
    max-width: 100%;
    min-width: 100%;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.user_image_file{
    position: absolute;
    top: 5px;
    height: 100px;
    width: 125px;
    opacity: 0;
    image-orientation: from-image;
}
.userImgBtn{
    display: none;
}
.text-color-underline{
    color: #1AB394;
    text-decoration: underline;
    cursor: pointer;
}
.decoration-none{
    text-decoration: none;
}
.forgotPasswordBox{
    display: none;
}